__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

.env
*.session
*.session-journal
KanhaMusic.session
KanhaAssistant.session
KanhaAssistantSession.session

downloads/
cache/
assets/thumbnail.jpg

.pythonlibs/
.upm/
*.log

cookies.txt
